# ━━ Brew Options ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
cask_args appdir: '~/Applications', require_sha: true

# ━━ Brew Taps ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
tap 'jesseduffield/lazygit'
tap 'lintingzhen/tap'
tap 'hashicorp/tap'

# ━━ Brew Minimal ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
brew 'atuin'            # Better shell history
brew 'fish'             # Fish shell
brew 'fisher'           # Fish plugin manager
brew 'neovim'           # Text editor
brew 'yazi'             # TUI file explorer
brew 'age'              # PGP alternative
brew 'starship'         # Cross-shell prompt that's fast, minimal and customizable
brew 'onefetch'         # Git repository summary in your terminal
brew 'fzf'              # Command-line fuzzy finder
brew 'go'               # Open source programming language
brew 'kubectl'          # Kubernetes command-line tool
brew 'kubectx'          # Tool to switch between kubectl contexts
brew 'zoxide'           # Smarter cd command with learning capabilities


# ━━ On personal workstations only ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
{{- if .personal }}
{{ include (joinPath .chezmoi.sourceDir "Brewfile.personal") }}
{{- end -}}

# ━━ Brew Darwin or Linux only ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
{{- if eq .chezmoi.os "darwin" }}
{{ include (joinPath .chezmoi.sourceDir "Brewfile.mac") }}
{{- else if eq .chezmoi.os "linux" }}
{{ include (joinPath .chezmoi.sourceDir "Brewfile.linux") }}
{{- end -}}
