[user]
  name = Rene Zbinden
  email = {{ .email }}
[push]
	default = current
[merge]
  tool = vim_mergetool
  conflictstyle = diff3
[mergetool "vim_mergetool"]
  cmd = nvim -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
  trustExitCode = true
[core]
  pager = delta
  editor = nvim
  askpass =
{{- if .work }}
[http]
  sslVerify = false
  cookiefile = {{ .chezmoi.destDir }}/.gitcookies
{{- end }}

{{- if .work }}
[commit]
  ; gpgsign = false
  template = {{ .chezmoi.destDir }}/.gitmessage
{{- end }}
[diff]
  colorMoved = dimmed-zebra
[log]
  decorate = auto
[hub]
  protocol = https
[pull]
  rebase = false
[credential "https://github.com"]
  helper =
  helper = !gh auth git-credential
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  side-by-side = true
  light = true
[init]
  defaultBranch = main

# https://blog.gitbutler.com/git-tips-and-tricks/
[rerere]
	enabled = true
  autoUpdate = true

[branch]
	sort = -committerdate

[alias]
	fpush = push --force-with-lease
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lg = lg1
	append = town append
	compress = town compress
	contribute = town contribute
	diff-parent = town diff-parent
	hack = town hack
	observe = town observe
	park = town park
	prepend = town prepend
	propose = town propose
	repo = town repo
	set-parent = town set-parent
	ship = town ship
	sync = town sync
	delete = town delete
	rename = town rename
