{{- /* if email variable is set I am on work environment */ -}}
[user]
  name = Rene Zbinden
{{- if hasKey . "email" }}
  email = {{ .email }}
	; signingKey = /home/{{ .user }}/.ssh/id_rsa.pub
{{- else }}
  email = rene.zbinden@gmail.com
{{- end }}
[push]
	default = current
[merge]
  tool = vim_mergetool
  conflictstyle = diff3
[mergetool "vim_mergetool"]
  cmd = nvim -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
  trustExitCode = true
[core]
  pager = delta
  editor = nvim
  askpass =
{{ if hasKey . "email" }}
[http]
  sslVerify = false
  cookiefile = /home/{{ .user }}/.gitcookies
{{- end }}

{{ if hasKey . "email" }}
[commit]
  ; gpgsign = false
  template = /home/{{ .user }}/.gitmessage
{{- end }}
[diff]
  colorMoved = dimmed-zebra
[log]
  decorate = auto
[hub]
  protocol = https
[pull]
  rebase = false
[credential "https://github.com"]
  helper =
  helper = !gh auth git-credential
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  side-by-side = true
  light = true
[init]
  defaultBranch = main

# https://blog.gitbutler.com/git-tips-and-tricks/
[rerere]
	enabled = true
  autoUpdate = true

[branch]
	sort = -committerdate

[alias]
	fpush = push --force-with-lease
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lg = lg1
	append = town append
	compress = town compress
	contribute = town contribute
	diff-parent = town diff-parent
	hack = town hack
	kill = town kill
	observe = town observe
	park = town park
	prepend = town prepend
	propose = town propose
	rename-branch = town rename-branch
	repo = town repo
	set-parent = town set-parent
	ship = town ship
	sync = town sync
