source-file /home/{{ .user }}/.tmux-github-light.conf

# prefix
unbind C-b
set -g prefix C-n
bind-key C-n send-prefix

set -s escape-time 0

# Colors
set -g default-terminal "screen-256color"
set -ga terminal-overrides ",xterm-256color*:Tc"
set -as terminal-features ",xterm-256color:RGB"

# shortcut for reloading config
bind r source-file ~/.tmux.conf \; display "Reloaded!"

# Colors
set -g default-terminal "screen-256color"
set -ga terminal-overrides ",xterm-256color*:Tc"
set -as terminal-features ",xterm-256color:RGB"

set -g clock-mode-colour default

# key bindings
# vi feeling
setw -g mode-keys vi
unbind-key j
bind-key j select-pane -D
unbind-key k
bind-key k select-pane -U
unbind-key h
bind-key h select-pane -L
unbind-key l
bind-key l select-pane -R
unbind [
bind Escape copy-mode
unbind p
bind p paste-buffer
bind -Tcopy-mode-vi v send-keys -X begin-selection


# http://robots.thoughtbot.com/post/53022241323/seamlessly-navigate-vim-and-tmux-splits
# smart pane switching with awareness of vim splits
bind -n C-h run "(tmux display-message -p '#{pane_current_command}' | grep -iq vim && tmux send-keys C-h) || tmux select-pane -L"
bind -n C-j run "(tmux display-message -p '#{pane_current_command}' | grep -iq vim && tmux send-keys C-j) || tmux select-pane -D"
bind -n C-k run "(tmux display-message -p '#{pane_current_command}' | grep -iq vim && tmux send-keys C-k) || tmux select-pane -U"
bind -n C-l run "(tmux display-message -p '#{pane_current_command}' | grep -iq vim && tmux send-keys C-l) || tmux select-pane -R"

# panes
bind 7 split-window -h
bind - split-window -v

# bind key for synchronizing panes
bind-key a set-window-option synchronize-panes

# Toggle Keybindings (turn off keybindings for remote sessions)
{{- if hasPrefix "w0" .chezmoi.fqdnHostname }}
color_black="#383A42"
color_white="#ffffff"
color_cyan="#ca1243"
mode_separator=""

bind -T root F12  \
  set prefix None \;\
  set key-table off \;\
  set @mode_indicator_custom_prompt "  OFF #[default]#[fg=$color_cyan]$mode_separator" \;\
  set @mode_indicator_custom_mode_style bg=$color_cyan,fg=$color_white \;\
  if -F '#{pane_in_mode}' 'send-keys -X cancel' \;\
  refresh-client -S \;\
{{- end }}

bind -T off F12 \
  set -u prefix \;\
  set -u key-table \;\
  set -u @mode_indicator_custom_prompt \;\
  set -u @mode_indicator_custom_mode_style \;\
  refresh-client -S

#Start window indexing at 1, not 0
set -g base-index 1
set -g renumber-windows on
set -g pane-base-index 1
set -g display-panes-time 350
set-option -sg escape-time 10
set-option -g focus-events on

set -g status-left '
    #{tmux_mode_indicator}'

set -g status-right '#(kube-tmux) | %H:%M %d-%h-%Y | #{uptime}'
set -g status on
set -g status-interval 2
set -g status-left-length 90
set -g status-right-length 90

# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-sidebar'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'robhurring/tmux-uptime'
set -g @plugin 'MunifTanjim/tmux-mode-indicator'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '/usr/share/tmux-plugin-manager/tpm'
