#!/bin/bash

# Install packages from Brewfile
if command -v brew &> /dev/null; then
  echo "Installing packages from Brewfile..."
  chezmoi execute-template < "{{ .chezmoi.sourceDir }}/Brewfile.tmpl" | brew bundle --file=-
fi

# ━━ Pacman ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
if command -v pacman &> /dev/null; then
echo "Installing pacman packages"

sudo pacman -Sy --noconfirm --needed \
  pcsc-tools \
  ccid \
  libusb-compat \
  ttf-jetbrains-mono-nerd \
  libfido2 \
  opensc

fi

# ━━ AUR ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
if command -v yay &> /dev/null; then
echo "Installing aur packages"

yay  --noconfirm --needed -S \
  aur/jumpapp \
  aur/puppet-lint
fi

# ━━ Go ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
export GOBIN=$HOME/go/bin

if command -v go &> /dev/null; then
  echo "Installing go packages"

  go install github.com/marcsauter/kube-tmux@latest
  go install github.com/lintingzhen/commitizen-go@latest
fi

commitizen-go install

# ━━ fisher ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

if fish -c "functions -q fisher" &> /dev/null; then
  echo "Installing fisher packages"

  fish -c "fisher install danhper/fish-ssh-agent"
  fish -c "fisher install jorgebucaran/nvm.fish"
fi

# ━━ krew ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

if command -v kubectl-krew >/dev/null; then
    KREW_BIN=kubectl-krew

    ${KREW_BIN} update

    ${KREW_BIN} install stern
    ${KREW_BIN} install who-can
    ${KREW_BIN} install access-matrix
    ${KREW_BIN} install rolesum
    ${KREW_BIN} install cilium
    ${KREW_BIN} install ingress-nginx
    ${KREW_BIN} install blame
fi

echo "Package installation complete."
