{{- /* if email variable is set I am on work environment */ -}}
git:
  paging:
    colorArg: always
    pager: delta --light --paging=never
{{- if hasKey . "email" }}
services:
  "git.{{ .domain }}": "gitlab:git.{{ .domain }}"
  "gitlab.{{ .domain }}": "gitlab:gitlab.{{ .domain }}"
{{- end }}
customCommands:
  - key: "<c-u>"
    description: "Force push"
    command: 'git push -f'
    context: files
    showOutput: true
  - key: "<c-u>"
    description: "Force push"
    command: 'git push -f'
    context: localBranches
    showOutput: true
  - key: "<c-u>"
    description: "Force push"
    command: 'git push -f'
    context: commits
    showOutput: true
# TODO: this only works in nvim or without tmux
keybinding:
  universal:
    prevBlock-alt: <c-k>
    nextBlock-alt: <c-j>
    nextTab: <c-l>
    # prevTab: <c-h> # not permitted
  commits:
    moveDownCommit: j
    moveUpCommit: k
