# chrome
alias kc="killall chromium && killall chromium && killall chromium"
alias cat="bat -p"

# systemctl
alias start="sudo systemctl start"
alias stop="sudo systemctl stop"
alias stat="sudo systemctl status"
alias restart="sudo systemctl restart"

# kubectl
alias k="kubectl"
alias ks="kubectl sudo"
alias ke="kubectl get events --sort-by=.metadata.creationTimestamp"
alias kse="kubectl sudo get events --sort-by=.metadata.creationTimestamp"
{{- if hasKey . "sshuser" }}
alias k9="k9s --as={{ .sshuser }} --as-group=system:masters"
{{- end }}

alias ws='cd (lab ws)'

# vi
alias vim='nvim'
alias vi='nvim'
