alias kc="killall chromium && killall chromium && killall chromium"
alias cat="bat --paging never -p --theme=GitHub"
alias task="go-task"

# systemctl
alias start="sudo systemctl start"
alias stop="sudo systemctl stop"
alias stat="sudo systemctl status"
alias restart="sudo systemctl restart"

# kubectl
alias k="kubectl"
alias ks="kubectl sudo"
alias ke="kubectl get events --sort-by=.metadata.creationTimestamp"
alias kse="kubectl sudo get events --sort-by=.metadata.creationTimestamp"
{{- if hasKey . "sshuser" }}
alias k9="k9s --as={{ .sshuser }} --as-group=system:masters"
{{- end }}

# lab (https://github.com/Ackerr/lab)
alias ws='cd (lab ws)'

alias top="btop"
alias lg="lazygit"
alias ping="gping"
alias grep="rg"

# vi
{{- if hasPrefix "/export" .chezmoi.homeDir }}
alias vim='{{ .chezmoi.homeDir }}/bin/nvim.appimage'
alias vi='{{ .chezmoi.homeDir }}/bin/nvim.appimage'
{{- else }}
alias vim='nvim'
alias vi='nvim'
alias lvi="NVIM_APPNAME=lazyvim nvim"
alias lvim="NVIM_APPNAME=lazyvim nvim"
{{ end }}
{{- if hasKey . "email" }}
alias shuttle='sshuttle --disable-ipv6 --dns --exclude {{ .sshuttle_host }} --remote {{ .sshuttle_host }} {{ .sshuttle_network }}'
alias paam_shuttle='sshuttle --disable-ipv6 --dns --exclude {{ .sshuttle_host_paam }} --remote {{ .sshuttle_host_paam }} {{ .sshuttle_network_paam }}'
{{- end }}
