# path
{{ if .work }}
# go
set -x GOPROXY https://proxy.golang.org
set -x GOPRIVATE '*.{{ .network.domain }}'

# proxy
{{- if .work }}
set -x http_proxy {{ .network.proxy }}
set -x HTTP_PROXY {{ .network.proxy }}
set -x https_proxy {{ .network.proxy }}
set -x HTTPS_PROXY {{ .network.proxy }}
set -x no_proxy {{ .network.noproxy }}
{{- end }}


function paam-fzf
  set hosts (cat $HOME/nodes.txt | fzf -m)

  tmux new-window "ssh $hosts[1]"
  for i in $hosts[2..]
    tmux split-window -h  "ssh $i"
    tmux select-layout tiled > /dev/null
  end

  tmux select-pane -t 0
  #tmux set-window-option synchronize-panes on > /dev/null
end

function paam-hosts
  set hosts $argv

  tmux new-window "ssh $hosts[1]"
  for i in $hosts[2..]
    tmux split-window -h  "ssh $i"
    tmux select-layout tiled > /dev/null
  end

  tmux select-pane -t 0
  #tmux set-window-option synchronize-panes on > /dev/null
end

function proxyoff
  set -e ftp_proxy
  set -e http_proxy
  set -e https_proxy
end
{{ end }}
