# path
{{ if hasKey . "proxy" }}
set -x PATH $PATH $HOME/homebrew/bin

# go
set -x GOPROXY https://proxy.golang.org
set -x GOPRIVATE '*.{{ .domain }}'

# proxy
{{- if hasPrefix "w0" .chezmoi.fqdnHostname }}
set -x http_proxy http://localhost:9999
set -x https_proxy http://localhost:9999
set -x no_proxy {{ .noproxy }}
{{- else }}
set -x http_proxy 'http://{{ .proxyappl }}:{{ .proxyport }}'
set -x https_proxy 'http://{{ .proxyappl }}:{{ .proxyport }}'
set -x no_proxy {{ .noproxy }}
{{- end }}


function proxyuser
  set proxyname {{ .proxy }}:{{ .proxyport }}
  read --prompt "echo 'username: ' " -l username
  read -s --prompt "echo 'password: ' " -l password
  set -x ftp_proxy http://$username:$password@$proxyname
  set -x http_proxy http://$username:$password@$proxyname
  set -x https_proxy http://$username:$password@$proxyname
end

function paam-fzf
  set hosts (cat $HOME/nodes.txt | fzf -m)

  tmux new-window "ssh $hosts[1]"
  for i in $hosts[2..]
    tmux split-window -h  "ssh $i"
    tmux select-layout tiled > /dev/null
  end

  tmux select-pane -t 0
  #tmux set-window-option synchronize-panes on > /dev/null
end

function paam-hosts
  set hosts $argv

  tmux new-window "ssh $hosts[1]"
  for i in $hosts[2..]
    tmux split-window -h  "ssh $i"
    tmux select-layout tiled > /dev/null
  end

  tmux select-pane -t 0
  #tmux set-window-option synchronize-panes on > /dev/null
end

function proxyoff
  set -e ftp_proxy
  set -e http_proxy
  set -e https_proxy
end

function proxyappl
set -x ftp_proxy 'http://{{ .proxyappl }}:{{ .proxyport }}'
set -x http_proxy 'http://{{ .proxyappl }}:{{ .proxyport }}'
set -x https_proxy 'http://{{ .proxyappl }}:{{ .proxyport }}'
end
{{ end }}

{{- if not (hasPrefix "w0" .chezmoi.fqdnHostname) }}
function fzsh
  set host (/usr/bin/cat /etc/pssh/by-os/linux/all.sys | fzf)
  ssh $host
end
{{- end }}
